body {
    font-family: 'Vazir', sans-serif;
    direction: rtl; 
    margin-top: 5px;
    width: 100%;/* تنظیم راست‌چین بودن متن برای فارسی */
  }
  .app-container {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    /* padding: 20px; */
  }
  .theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
  }
  
  .theme-toggle-button:hover {
    transform: scale(1.2);
  }